<article>
  {{!-- <form action="/auth/login" method="post"> --}}
    <header>
      <h1>Login de Usuarios</h1>
    </header>
    <input type="email" name="email" placeholder="Correo" id="mail"  required />
    <input type="password" name="password" id="pass"  placeholder="Contraseña" required />
    {{!-- <a href="/password-recovery">Recupere su clave</a> o --}}
     <a href="/register">Regístrese</a> 
    o <a href="/pass-recovery">Recupere su contraseña</a>
    <footer>
      <input type="submit" value="Enviar" id="btnLogin">
      {{!-- <a href="/api/sessions/github" role="button">Ingresar con Github</a> --}}
    </footer>
  {{!-- </form> --}}
</article>

<script src="/js/login.js"></script>