<article>
  <form action="/auth/password-recovery" method="post">
    <header>
      <h1>Recuperar contraseña</h1>
    </header>
    <input type="email" name="email" placeholder="Correo" required />
    <input type="password" name="newPassword" placeholder="Contraseña" required />
    <footer>
      <input type="submit" value="Enviar">
    </footer>
  </form>
</article>