<article>
  <header>
    <h1>TICKETS</h1>
  </header>
  <p>Nombre: {{this.user.first_name}}</p>
  <p>Apellido: {{this.user.last_name}}</p>
  <p>Correo: {{this.user.email}}</p>
  <p>Tipo de Usuario: <strong>{{this.user.rol}}</strong> </p>
  
  </form>
  <footer>
    {{!-- <a href="/api/sessions/logout" role="button">Logout</a> --}}
  </footer>
</article>

<article>

    
</article>